<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>User Detail</h1>
    <p>Username: {{ user.username }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Date of Birth: {{ user.date_of_birth }}</p>
    <a href="{% url 'update_user' user.pk %}"><button>Update User</button></a>
    <a href="{% url 'delete_user' user.pk %}"><button>Delete User</button></a>
</body>
</html>
